package main

import (
	"admin/internal/admin"
	"admin/internal/api"
	"admin/internal/conf"
	"flag"
	"github.com/daodao97/goadmin/scaffold"
	"github.com/daodao97/xgo/xhttp"
	{{- if .DriverMysql }}
	_ "github.com/go-sql-driver/mysql"
	{{ end -}}
    {{- if .DriverSqlite }}
    _ "github.com/mattn/go-sqlite3"
    {{ end -}}
	_ "go.uber.org/automaxprocs"
	"time"
)

func main() {
	flag.Parse()

	err := conf.Startup()
	if err != nil {
		panic(err)
	}

	e := scaffold.NewEngine(&scaffold.EngineOption{
		Conf: conf.GetScaffoldConf(),
	})

	routes := admin.NewRoute()
	routes = append(routes, api.Route)
	scaffold.RegRoute(e, routes)

	xhttp.StartServer(e, conf.Get().HttpServer.Addr, time.Second*30)
}
